./*.log
./.vscode
.static/ali_data
.static/JD_data
.static/msr_iamges
.static/msr_part_images
.static/uploadedImage
Chinese_CLIP
CLIP
faissIndex
image_features
video_model
video_process
visiual_result
ali_all_clip-B32_feat_concate.hdf5
clip_cn_vit-b-16.pt
__pycache__/
